.react-cookie-notice-container {
  background: #222222;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5rem;
}

.react-cookie-notice-container .react-cookie-notice-content {
  max-width: 900px;
  padding: 1rem 2rem;
}

.react-cookie-notice-container .react-cookie-notice-content ul {
  background: #ffffff;
  color: #000000;
  list-style-type: none;
  margin: 0 0 1rem 0;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .react-cookie-notice-container .react-cookie-notice-content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.react-cookie-notice-container .react-cookie-notice-content ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
}

.react-cookie-notice-container .react-cookie-notice-content ul li strong {
  margin-left: 0.5rem;
}

.react-cookie-notice-container .react-cookie-notice-content ul li p {
  margin-top: 0;
}

.react-cookie-notice-container .react-cookie-notice-content .react-cookie-notice-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.react-cookie-notice-container .react-cookie-notice-content .react-cookie-notice-buttons .react-cookie-notice-button-primary {
  background: #5fdafb;
  color: #000;
  text-decoration: none;
  padding: 1rem;
  text-align: center;
  border: 0;
  margin-left: auto;
}

.react-cookie-notice-container .react-cookie-notice-content .react-cookie-notice-buttons .react-cookie-notice-button-secondary {
  background: none;
  color: #ffffff;
  padding: 0;
  text-decoration: underline;
  text-align: left;
  border: 0;
}
